 body {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
            background: url('asset/5072616.jpg');
            background-size: cover;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-box {
            width: 380px;
            padding: 40px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            backdrop-filter: blur(10px);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
            color: white;
            text-align: center;
            animation: fadeIn 1s ease;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .login-box h2 {
            margin-bottom: 25px;
        }

        .input-box {
            width: 100%;
            margin-bottom: 20px;
            text-align: left;
        }

        .input-box label {
            font-size: 14px;
            margin-bottom: 5px;
            display: block;
        }

        .input-box input {
            width: 100%;
            padding-top: 12px;
            padding-bottom: 12px;
            border: none;
            border-radius: 8px;
            outline: none;
            background: rgba(255, 255, 255, 0.2);
            color: white;
            font-size: 14px;
        }

        .input-box input::placeholder {
            color: #eee;
        }

        button {
            width: 100%;
            padding: 12px;
            margin-top: 10px;
            background: #00c6ff;
            border: none;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            transition: 0.3s;
        }

        button:hover {
            background: #0072ff;
        }

        .link {
            margin-top: 15px;
            font-size: 14px;
        }

        .link a {
            color: #00c6ff;
            text-decoration: none;
            font-weight: bold;
        }

        .link a:hover {
            text-decoration: underline;
        }