body{
    background-color: cornflowerblue
    ;
}
.login{
    display: block;
    margin: 220px auto;
    background-color: blue;
    width: 200px;
    padding: 20px;
    border-radius: 10%;
    color: aliceblue;
    
}
h1{
    text-align: center;
}
.card{
    margin-top: 10px;
}